<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://mybatis.org/schema/mybatis-spring 
		http://mybatis.org/schema/mybatis-spring.xsd ">
		
		<!-- 一.Spring -->
		
		<!-- 1.扫描并且注册service -->
		<context:component-scan base-package="com.rainnie.service" />
		
		
		<!-- 二.SpringMVC -->
		
		<!-- 1.扫描并且注册Controller层 -->
		<context:component-scan base-package="com.rainnie.controller"/>
		
		<!-- <mvc:resources location="/decorate/css/" mapping="/decorate/css/**" />
		<mvc:resources location="/decorate/js/" mapping="/decorate/js/**" /> -->
		
		<!-- 2.视图解析器 -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/WEB-INF/jsp/" />
			<property name="suffix" value=".jsp" />
		</bean> 
		
		
		
		<!-- 三.mybatis -->
		<!-- 1.扫描并注册mapper -->
		<mybatis:scan base-package="com.rainnie.dao"/>
		<!-- 2.指定Druid数据源 -->
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
			<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
       		<property name="url" value="jdbc:mysql://localhost:3306/product_ssm?characterEncoding=utf8"/>
       		<property name="username" value="root"></property>
       	    <property name="password" value="123456"></property>	
		</bean>	
		<!-- 3.配置mybatis工厂，依赖数据源 -->
		<bean id="sqlSessionFactory" 
				class="org.mybatis.spring.SqlSessionFactoryBean"
	    		p:dataSource-ref="dataSource"/>
		
</beans>